
.KPIbox{
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 5px;
}

.L1KPIbox{
	background-color: #FFFFFF;
    margin-bottom: 10px;
    /*box-shadow: 0 10px 6px -6px #9c9c9c;*/
    border-radius: 15px;
    padding-bottom: 15px;
    padding-top: 5px;
}

.L1Metric{
	color: #57575a;
	font-size: 30px;
	text-align: center;
}

.L2IMG{
    text-align: left;
    margin-top: -35px;
    margin-left: 15px;
    opacity: 0.7;
}

.L2Title{
	padding-top: 2%;
	text-align: center;
	height: 40px;
	font-size: 30px;
	margin-bottom: 7%;
}

.L2SubTitle{
	margin-top: 5px;
	text-align: center;
	margin-top: -20px;
    padding-bottom: 15px;
    font-weight: bold;
}

.L2Chart{
	height: 200px;
	padding-top: 10px;
	padding-right: 20px;
	background-color: #FFFFFF;
/*	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;*/
	/*box-shadow: 0 10px 6px -6px #9c9c9c; */
}

.L2Metric{
    text-align: center;
    font-size: 30px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #FFFFFF;
}

.L3KPIbox{
    margin-top: 10px; 
    padding-top: 10px; 
	/*box-shadow: 0 10px 6px -6px #9c9c9c;*/
	background-color: #FFFFFF;
	padding-bottom: 20px;
/*	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;*/
}

.L3KPItrailer{
	height: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.L3Title{
	text-align: left;
	padding-left: 2%;
	/*padding-right: 5%;*/
    padding-bottom: 5px;
    padding-top: 5px;
}

.L3Metric{
	text-align: right;
	padding-right: 5%;
}

.box{
	color: #FFFFFF;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.boxSafety{	
	background-color: #5481b9;
}

.boxCost{
	background-color: #de953f;
}

.boxService{
	background-color: #A1C253;
}

/*overwrite qlik CSS*/
/*overwrite qlik CSS*/

/*Overwrite Bootstrap CSS*/
.carousel-control.left {
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,.0001) 100%);
}

/*.carousel-control {
    color: #58585a;
    text-shadow: 0 0px 0px rgba(0,0,0,0);
}*/

.carousel-control.right {
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,0) 100%);
}

h2 {
	margin-top: 0px;
    margin-bottom: 0px;
}

.dropdown-menu>li>a {
     font-weight: normal; 
}

/*Overwrite Bootstrap CSS*/

.modal-lg {
    width: 90%;
}

.S {
	background-color: #f6f4f3;
	font-weight: bold;
}

.O {
	background-color: #f6f4f3;
	font-weight: bold;
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.L3Beacon{
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}
