.L3Box{
    margin-top: 10px;
    padding: 05px;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
}

.L3BoxRed{
	background-color: #f42020;
}

.L3BoxAmber{
	background-color: #F47920;
}

.L3BoxGreen{
	background-color: #757575;
	/*background-color: #25861E;*/
}

.legends{
	margin-top: 50px; 
	/*background-color: #FFFFFF; */
	/*height: 400px;*/
	padding-top: 20px;
	padding-left: 50px;
}

.DetailChart{
	height: 250px;
	margin-right: 50px;
}