/* ---------------------------------------------------
    INDEX
----------------------------------------------------- */

/*@font-face {
    font-family: 'QlikView Sans';
    src: url(/extensions/DevControlTower/fonts/qlikview-sans.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QlikView Sans';
    src: url(/extensions/DevControlTower/fonts/qlikview-sans-bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'QlikView Sans';
    src: url(/extensions/DevControlTower/fonts/qlikview-sans-italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'QlikView Sans';
    src: url(/extensions/DevControlTower/fonts/qlikview-sans-bold-italic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'QlikView Icons';
    src: url(/extensions/DevControlTower/fonts/fonts/qlikview-icons.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}*/
/*html, body {  
height: 100%;  
overflow: hidden;  
} */

body {
    padding-bottom: 30px;
    /*font-family: "QlikView Sans", sans-serif;*/
    
    font-family: "Arial", sans-serif;
    background-color: #f6f4f3; 
    color: #58585a;   
    letter-spacing: 1px;
    overflow: auto; 
}   

div.qvobject, div.qvplaceholder {
}

/*Overwrite Qlik CSS*/
.qv-global-selections{
    z-index: 1050;
}

.qv-object{
    background-color: transparent;
}

.qvt-chart-tooltip{
    z-index: 2000;
}
/*End Overwrite Qlik CSS*/

/*Overwrite Bootstrap CSS*/

.row{
    margin-right: 0px;
    margin-left: 0px;
}

.navbar-default {
    background-color: #d31145;
    border-color: #d31145;
    border-radius: 0px;
    color: #FFFFFF; 
}


.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #FFFFFF;
    background-color: #00000020;
}

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #00000040;
    color: #FFFFFF; 
}

.breadcrumb a, .breadcrumb a:hover, .breadcrumb a:focus {
    color: #58585a;
}
/*End Overwrite Bootstrap CSS*/

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #545352;
    color: #FFFFFF;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    /*margin-top: 90px;*/
}
#content.active {
    width: 100%;
}


/* ---------------------------------------------------
    MEDIAQUERIES 
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        /*display: none;*/
    }
}

.filterTitle{
    padding-top: 120px;
    padding-left: 20px;
}

.filterSubTitle{
    padding-top: 20px;
    padding-left: 20px;
}

.filterObject{
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

/*Overwritnig Bootstrap CSS*/
.lui-popover-container{
    z-index: 10000;
}

.carousel-control {
    width: 5%;
};


/*Custom code from dropdown*/

/*.dropbtn {
    background-color: #FFFFFF;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}*/

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.customDropdown {
    position: relative;
    display: inline-block;
    /*margin-left: 100px;*/
}

.dropdown-content {
    min-width: 320px;
    overflow: auto;
    max-height: 200px;
}

.dropdown-content a {
    color: #58585a;
    padding: 5px;
    text-decoration: none;
    display: block;
}

.btn-reset-filters {
    width: 100%;
    background-color: #337ab7;
    border-color: #337ab7;
    color: white;
    margin-top: 10px;
}

.btn-reset-filters:hover,
.btn-reset-filters:active,
.btn-reset-filters:focus {
    color: white;
    background-color: #193b68;
}

.customDropdown a:hover {background-color: #ddd}

.show {display:block;}
/*Custom code from dropdown*/

.home-top-banner{
    background-color: #FFFFFF;
    left: 0px;
/*    margin-right: -20px;
    margin-left: -20px;
    margin-top: -20px;*/
    /*padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;*/
    padding: 25px;
}

.home-top-banner-text{
    /*padding-bottom: 10px;*/
    /*padding-top: 2px;*/
    /*padding-right: 20px;*/
    font-size: 25px;    
    float: right;
}

 .home-top-banner-img{
    height: 35px; 
    /*margin-top: 17px; 
    margin-right: 20px;*/
}

/*h2 {
    font-size: 14px;
    font-weight: bold;    
    padding-top: 5px;
}*/

.cta-button{
    color: #FFFFFF;
    background-color: #5480b9;
    border-color: #5480b9;
}

.cta-button:hover, .cta-button:focus, .cta-button:active, .cta-button.active, .open>.dropdown-toggle.cta-button {
    color: #FFFFFF;
    background-color: #29558e;
    border-color: #29558e;
}

.btn-group>.cta-button{
    color: #5480b9;
    background-color: #FFFFFF;
    border-color: #5480b9;
}

/*.btn-group>.cta-button:hover{
.cta-button:focus, .cta-button:active, .cta-button.active, .open>.dropdown-toggle.cta-button {
    color: #5480b9;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}*/

.btn-group>.cta-button:active, .btn-group>.cta-button.active{
    color: #FFFFFF;
    background-color: #5480b9;
    border-color: #5480b9;
}

.dc-label{
    padding-right: 20px;
}

/* ---------------------------------------------------
    HOME
----------------------------------------------------- */
.KPIbox{
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 5px;
}

.L1-box{
	background-color: #FFFFFF;
    margin-bottom: 10px;
    /*box-shadow: 0 10px 6px -6px #9c9c9c;*/
    border-width: 2px;
    border-style: solid;
    border-color: #d31145;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    padding-right: 0px;
    padding-left: 0px;    
}

.L1-inner-box{
    border-width: 1px;
    border-style: solid;	
    border-color: #d31145;
    padding-right: 0px;
    padding-left: 0px;    
    border-top-width: 0px;
    border-bottom-width: 0px;  
}

.L1Metric{
	color: #57575a;
	font-size: 30px;
	text-align: center;
}

.L2IMG{
    text-align: center;
    opacity: 0.7;
    margin-top: 20px;
}

.L2Title{
	padding-top: 16px;
	font-size: 30px;
}

.L2SubTitle{
    font-weight: bold;
    height: 82px;
}

.L2-chart{
	height: 200px;
	padding-top: 10px;
	padding-right: 20px;
	background-color: #FFFFFF;
	margin: 5px;
/*	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;*/
	/*box-shadow: 0 10px 6px -6px #9c9c9c; */
}

.L2-chart-box{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: #58585A;	
	border-top-width: 0px;
	background-color: #FFFFFF;
}

.L2-metric{
    text-align: center;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 2px;
    border-color: #58585A;
    border-top-right-radius: 10px;
}

.L2-metric-primary{
	font-size: 30px;
}

.L2-metric-value{
	font-weight: bold;
	font-size: 20px;
}

.L3-kpi-box{
/*	background-color: #FFFFFF;*/
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #58585A;	
    text-align: right;
    padding-bottom: 5px;
    line-height: 60px;
    font-size: 20px;
    font-weight: bold;
}

.L3-kpi-table{
    border-width: 2px;
    border-style: solid;	
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-bottom-style: solid;
    border-color: #58585A;
    background-color: #FFFFFF;
}

.L3-kpi-table:hover{
  background-color: #f6f4f3;
}

.L3-kpi-box-header{
	background-color: #58585A;
	color: #FFFFFF;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;	
	padding-bottom: 25px;
	/*padding-right: 15px;*/
	padding-top: 5px;
	text-align: right;
}

.box{
	color: #FFFFFF;
	border-top-left-radius: 10px;
	background-color: #58585A;
	/*border-top-right-radius: 10px;*/
}

.boxSafety{	
	background-color: #5481b9;
}

.boxCost{
	background-color: #de953f;
}

.boxService{
	background-color: #A1C253;
}

/*overwrite qlik CSS*/
/*overwrite qlik CSS*/

/*Overwrite Bootstrap CSS*/
.carousel-control.left {
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,.0001) 100%);
}

/*.carousel-control {
    color: #58585a;
    text-shadow: 0 0px 0px rgba(0,0,0,0);
}*/

.carousel-control.right {
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,0) 100%);
}

h2 {
	margin-top: 0px;
    margin-bottom: 0px;
}

.dropdown-menu>li>a {
     font-weight: normal;
     font-size: 13px;
     cursor: pointer;
     padding: 10px;
}

.dropdown-menu.active .O {
    background-color: #9e0d34;
    color: white;
}

/*Overwrite Bootstrap CSS*/

.modal-lg {
    width: 90%;
}

.S {
	background-color: #f6f4f3;
	font-weight: bold;
}

.O {
	background-color: #f6f4f3;
	font-weight: bold;
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.L3Beacon{
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.target-change{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	line-height: 60px;
	text-align: center;
	margin: auto;
	color: #FFFFFF;
}

.L1-target-change{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	line-height: 80px;
	text-align: center;
	margin: auto;
	color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}

/* ---------------------------------------------------
    KRA
----------------------------------------------------- */
.kra-header{
	font-size: 14px;
	font-weight: bold;
	text-align: right;
}

.L1-kra-box{
	background-color: #FFFFFF;
    margin-bottom: 10px;
    /*box-shadow: 0 10px 6px -6px #9c9c9c;*/
    border-width: 2px;
    border-style: solid;
    border-color: #d31145;
    border-radius: 10px;  
    font-weight: bold; 
}

.kra-box{
	padding-left: 0px;
	padding-right: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: #58585A;
    border-radius: 10px;   	
}

.kra-box-body{
	text-align: right;
	background-color: #FFFFFF;
    border-radius: 10px;  
    font-weight: bold; 	
}

.krs-metric-title {
    font-size: 20px;
    font-weight: bold;
    background-color: #d31145; 
    width: 60%; 
    color: #FFFFFF; 
    padding-left: 20px; 
    height: 115px;
}

/* ---------------------------------------------------
    METRIC ANALYSIS
----------------------------------------------------- */
.kra-header{
	font-size: 14px;
	font-weight: bold;
	text-align: right;
}

.L1-kra-box{
	background-color: #FFFFFF;
    margin-bottom: 10px;
    /*box-shadow: 0 10px 6px -6px #9c9c9c;*/
    border-width: 2px;
    border-style: solid;
    border-color: #d31145;
    border-radius: 10px;   
}

.kra-box{
	padding-left: 0px;
	padding-right: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: #58585A;
    border-radius: 10px;   	
}

.kra-box-body{
	text-align: right;
	background-color: #FFFFFF;
    border-radius: 10px;   	
}

/* ---------------------------------------------------
    DETAILS
----------------------------------------------------- */
.L3Box{
    position: relative;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    text-align: left;
    color: #FFFFFF;
}

.L3BoxRed{
	background-color: #f42020;
}

.L3BoxAmber{
	background-color: #F47920;
}

.L3BoxGreen{
	background-color: #d31145;
	/*background-color: #25861E;*/
}

.L3BoxGreen .dropdown-toggle {
    background: none;
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.L3BoxGreen .dropdown-toggle:hover,
.L3BoxGreen .dropdown-toggle:active,
.L3BoxGreen .dropdown-toggle:focus {
    color: white;
    outline: none;
}

.L3BoxGreen .dropdown-toggle

.legends{
	margin-top: 50px; 
	/*background-color: #FFFFFF; */
	/*height: 400px;*/
	padding-top: 20px;
	padding-left: 50px;
}

.DetailChart{
	height: 250px;
	margin-right: 50px;
}

<<<<<<< HEAD
.qs-object {
    width: 100%;
}

.driver-filters .filter-count {
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
    
.driver-comparison {
    background-color: white; 
    min-height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.driver-comparison.active {
    justify-content: baseline;
    align-items: flex-end;
    padding-top: 10px;
}

.driver-comparison .message {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.driver-comparison .message i {
    color: #c3c3c3;
    font-size: 3em;
    margin-bottom: 10px;
}

.driver-comparison .vis-type {
    width: 100%;
}

.driver-comparison .display-toggle .btn.active {
    background-color: #337ab7;
    color: white;
}

.driver-comparison .display-toggle .btn.active,
.driver-comparison .display-toggle .btn:active,
.driver-comparison .display-toggle .btn:hover,
.driver-comparison .display-toggle .btn:focus {
    outline: none;
}

.filter-select {
    display: flex;
    align-items: center;
}

.filter-select .filter-label {
    margin-right: 10px;
}

.filter-select .btn-filter-clear {
    font-size: 1.5em;
    margin-left: 10px;
    cursor: pointer;
}

.filter-select button,
.filter-select button:hover,
.filter-select button:active,
.filter-select button:focus {
    background-color: #337ab7;
    color: white;
}
=======
/*-------------------*/
/*Metric Analysis CSS*/
/*-------------------*/

.ma-box{
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 2px;
    border-color: #58585A;
    border-radius: 10px;
    padding: 0px;
}

.ma-header{
    background-color: #58585A;
    padding: 10px;
    color: #FFFFFF;
}

.ma-body{
    height: 350px;
    margin-top: 20px;
}
/*-------------------*/
/*Metric Analysis CSS*/
/*-------------------*/
>>>>>>> filo
