<div class="container-fluid">
<!-- 	<div class="alert alert-danger alert-dismissible" role="alert" style="display:none">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
		<span id="errmsg"></span>
	</div> -->
	<div ng-repeat="list in Leve3Cathegory">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-repeat="lista in list.Line">
            	<drop-down dropdownlist="lista.qsListField" dropdownid="lista.id" dropdownlabel="lista.Title" dropdownclass="lista.Class" dropdownfieldselect="lista.qsFileldSelect"></drop-down>	
			</div>
		</div>
	</div>

	<div style="background-color: #FFFFFF; margin-top: 20px;">
		<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 legends">
				<div ng-repeat="legend1 in qsObjectDetailsChartPercLegend">
					<span style="color: {{legend1.coloring.baseColor.color}}">{{legend1.series.markerNew}}</span>&nbsp;{{legend1.qFallbackTitle}}&nbsp;&nbsp;
				</div>
			</div>	
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<div id="qsObjectDetailsChartPerc" class="DetailChart"></div>
			</div>								
		</div>

		<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 legends">
				<div ng-repeat="legend2 in qsObjectDetailsChartNumLegend">
					<span style="color: {{legend2.coloring.baseColor.color}}">{{legend2.series.markerNew}}</span>&nbsp;{{legend2.qFallbackTitle}}&nbsp;&nbsp;
				</div>
			</div>	
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<div id="qsObjectDetailsChartNum" class="DetailChart"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 legends">
				<div ng-repeat="legend3 in qsObjectDetailsChartBigNumLegend">
					<span style="color: {{legend3.coloring.baseColor.color}}">{{legend3.series.markerNew}}</span>&nbsp;{{legend3.qFallbackTitle}}&nbsp;&nbsp;
				</div>
			</div>	
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<div id="qsObjectDetailsChartBigNum" class="DetailChart"></div>
			</div>	
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-12 col-lg-12" style="margin-top: 10px;">
			<div id="qsObjectDetailsTable" style="height: 400px; background-color: #FFFFFF; padding-left: 20px; padding-right: 20px;"></div>
		</div>
	</div>
</div>