<div class="container-fluid">
	<div class="row L1-kra-box">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding: 0px; background-color: #d31145; font-weight: bold;">
			<table>
				<td style="width: 10%"><img src="{{KRA[kraID].IMG}}" style="height: 50; width: 85px; opacity: 0.7; padding-left: 20px;"></td>
				<td class="krs-metric-title" id="{{KRA[kraID].MetricTitle}}"></td>
				<td>
					<div style="color: #FFFFFF; text-align: center;" class="kra-header">Actuals</div>
					<div style="background-color: #d31145; color: #FFFFFF; text-align: center; font-size: 30px; padding-top: 15px; padding-bottom: 35px;" id="{{KRA[kraID].Metric}}"></div>
				</td>
			</table>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			<table style="margin-top: 5px;">
				<tr class="kra-header">
					<td style="width: 50%;">Target</td>
					<td>Change</td>					
				</tr>
				<tr style="text-align: right;">
					<td id="{{KRA[kraID].MetricTarget}}" style="height: 70px; font-size: 30px;"></td>
					<td>
						<div class="target-change {{KRA[kraID].MetricClass}}" style="float: right;" id="{{KRA[kraID].MetricTargetChange}}"></div>
					</td>					
				</tr>				
			</table>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="padding-right: 20px;">
			<table style="margin-top: 5px;">
				<tr class="kra-header">
					<td style="width: 50%;">Previous Year</td>
					<td>Change</td>					
				</tr>
				<tr style="text-align: right;">
					<td id="{{KRA[kraID].MetricPCP}}" style="height: 70px; font-size: 30px;"></td>
					<td id="{{KRA[kraID].MetricPCPChange}}" style="height: 70px; font-size: 30px;"></td>
					<!-- <td>
						<div class="target-change" style="background-color: #d31145; float: right;" id="{{KRA[kraID].MetricPCPChange}}"></div>
					</td>					 -->
				</tr>				
			</table>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
			<table style="margin-top: 5px;">
				<tr class="kra-header" style="text-align: center;">
					<td>Weekly Trend</td>					
				</tr>
				<tr>
					<td><div id="{{KRA[kraID].Trend}}" style="height: 75px;"></div></td>				
				</tr>				
			</table>			
		</div>	
		<div id="{{KRA[kraID].Obj}}" style="height: 0px;"></div>
		<div id="{{KRA[kraID].ObjTarget}}" style="height: 0px;"></div>
		<div id="{{KRA[kraID].ObjPCP}}" style="height: 0px;"></div>					
		<div id="{{KRA[kraID].MetricClassObj}}" style="height: 0px;"></div>					
	</div>		

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 kra-box">
			<div class="L3-kpi-box-header">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Actuals</div>				
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<table>
						<tr class="kra-header">
							<td style="width: 50%;">Target</td>
							<td>Change</td>
						</tr>
					</table>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-right: 20px;">
					<table>
						<tr class="kra-header">
							<td style="width: 50%;">Previous Year</td>
							<td>Change</td>
						</tr>
					</table>					
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<table>
						<tr class="kra-header" style="text-align: center;">
							<td>Weekly Trend</td>
						</tr>
					</table>
				</div>					
			</div>
			<div ng-repeat="y in KRA[kraID].SubMetric" emit-last-repeater-element class="kra-box-body" ng-click="goToMetricAnalysis(y.SubMetricClick, 'kra')">
				<div class="row">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<table>
							<td id="{{y.SubMetricTitle}}" style="height: 85px; text-align: left;"></td>
							<td id="{{y.SubMetric}}" class="kri-box-body-number" style="padding-right: 5px;"></td>														
						</table>
					</div>				
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<table>
							<td id="{{y.SubMetricTarget}}" class="kri-box-body-number" style="width: 50%;"></td>
							<td>
								<div class="target-change {{y.SubMetricTargetClass}}" style="float: right;" id="{{y.SubMetricTargetChange}}"></div>
							</td>							
						</table>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-right: 20px;">
						<table>
							<td id="{{y.SubMetricPCP}}" class="kri-box-body-number" style="width: 50%;"></td>
							<td id="{{y.SubMetricPCPChange}}" style="height: 85px;"></td>							
						</table>					
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<div id="{{y.SubMetricTrend}}" style="height: 75px; margin-top: 5px;"></div>		
					</div>	
					<div id="{{y.SubMetricObj}}" style="height: 0px;"></div>
					<div id="{{y.SubMetricObjTarget}}" style="height: 0px;"></div>
					<div id="{{y.SubMetricObjPCP}}" style="height: 0px;"></div>
					<div id="{{y.SubMetricTargetClassObj}}" style="height: 0px;"></div>
				</div>				
			</div>
		</div>
	</div>	
</div>