<div class="container-fluid">
	<div class="row L1-kra-box">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding: 0px; background-color: #d31145; font-weight: bold;">
			<table>
				<td style="width: 10%"><img src="{{KRA[kraID].IMG}}" style="height: 50; width: 85px; opacity: 0.7; padding-left: 20px;"></td>
				<td class="krs-metric-title" id="qsKPIma100_Title"></td>
				<td>
					<div style="color: #FFFFFF; text-align: center;" class="kra-header">Actuals</div>
					<div style="background-color: #d31145; color: #FFFFFF; text-align: center; font-size: 30px; padding-top: 15px; padding-bottom: 35px;" id="qsKPIma100_0"></div>
				</td>				
			</table>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			<table style="margin-top: 5px;">
				<tr class="kra-header">
					<td style="width: 50%;">Target</td>
					<td>Change</td>					
				</tr>
				<tr style="text-align: right;">
					<td id="qsKPIma101_0" style="height: 70px; font-size: 30px;"></td>
					<td>
						<div class="target-change qsKPIma100Class_1" style="float: right;" id="qsKPIma101_1"></div>
					</td>					
				</tr>				
			</table>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="padding-right: 20px;">
			<table style="margin-top: 5px;">
				<tr class="kra-header">
					<td style="width: 50%;">Previous Year</td>
					<td>Change</td>					
				</tr>
				<tr style="text-align: right;">
					<td id="qsKPIma103_0" style="height: 70px; font-size: 30px;"></td>
					<td id="qsKPIma103_1" style="height: 70px; font-size: 30px;"></td>
					<!-- <td>
						<div class="target-change" style="background-color: #d31145; float: right;" id="qsKPIma103_1"></div>
					</td>					 -->
				</tr>				
			</table>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
			<table style="margin-top: 5px;">
				<tr class="kra-header" style="text-align: center;">
					<td>Weekly Trend</td>					
				</tr>
				<tr>
					<td><div id="qsObjectSpark" style="height: 75px;"></div></td>				
				</tr>				
			</table>			
		</div>	
		<div id="qsKPIma100" style="height: 0px;"></div>
		<div id="qsKPIma101" style="height: 0px;"></div>
		<div id="qsKPIma103" style="height: 0px;"></div>
		<div id="qsKPIma100Class" style="height: 0px;"></div>					
	</div>	

	<div class="row" style="margin-left: -5px; margin-right: -5px;">
		<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ma-box"> -->
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding: 0px;">
				<div style="padding: 5px;">
					<div class="ma-box">
						<div class="ma-header">
							<table>
								<tr>
									<td><div id="qsObjectDCs_Title"></div></td>
									<td>
										<button type="button" class="btn btn-xs cta-button" data-toggle="modal" data-target=".bs-example-modal-lg"  style="float: right; margin-right: 10px;">
											<span class="glyphicon glyphicon-resize-full" aria-hidden="true" ng-click="maFullScreen(DCsFullSize)"></span>
										</button>

				                        <div class="btn-group" role="group" aria-label="..." style="float: right; margin-right: 10px;">
				                            <button type="button" class="btn btn-default {{chartActive}} cta-button btn-xs" ng-click="Toggle('C')">
				                                <i class="fa fa-line-chart"></i>
				                            </button>
				                            <button type="button" class="btn btn-default {{tableActive}} cta-button btn-xs" ng-click="Toggle('T')">
				                                <i class="fa fa-table"></i>
				                            </button>                      
										</div>
									</td>									
								</tr>
							</table>
							
						</div>
						<div class="ma-body">
							<div id="qsObjectDCs" style="height: 310px; margin-left: 10px; margin-right: 10px;"></div>
						</div>
					</div>
				</div>
			</div>	
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding: 0px;">
				<div style="padding: 5px;">
					<div class="ma-box">
						<div class="ma-header">
							<table>
								<tr>
									<td><div id="qsObjectTrend_Title"></div></td>
									<td>
										<button type="button" class="btn btn-xs cta-button" data-toggle="modal" data-target=".bs-example-modal-lg"  style="float: right; margin-right: 10px;">
											<span class="glyphicon glyphicon-resize-full" aria-hidden="true" ng-click="maFullScreen(TrendFullSize)"></span>
										</button>

				                        <div class="btn-group" role="group" aria-label="..." style="float: right; margin-right: 10px;">
				                            <button type="button" class="btn btn-default {{chartActive}} cta-button btn-xs" ng-click="Toggle('C')">
				                                <i class="fa fa-line-chart"></i>
				                            </button>
				                            <button type="button" class="btn btn-default {{tableActive}} cta-button btn-xs" ng-click="Toggle('T')">
				                                <i class="fa fa-table"></i>
				                            </button>                      
										</div> 							

				                        <div class="btn-group" role="group" aria-label="..." style="float: right; margin-right: 10px;">
				                            <button type="button" class="btn btn-default {{weekActive}} cta-button btn-xs" ng-click="Toggle('W')">
				                                <div>Weekly</div>
				                            </button>
				                            <button type="button" class="btn btn-default {{monthActive}} cta-button btn-xs" ng-click="Toggle('M')">
				                                <div>Monthly</div>
				                            </button>                      
				                        </div> 										
									</td>
								</tr>
							</table>
						</div>
						<div class="ma-body">
							<div id="qsObjectTrend" style="height: 310px; margin-left: 10px; margin-right: 10px;"></div>
						</div>
					</div>
				</div>
			</div>			

			<div class="row">
             	<button type="button" class="btn btn-default cta-button" ng-click="goToDrivers()" style="float: right; margin-top: 10px; margin-right: 5px;">
             		See Drivers <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
             	</button>
			</div>
	</div>

	<!-- Large modal -->

	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="qsObjectFullScreen_Title"></h4>
				</div>
				<div id="qsObjectFullScreen" style="height: 500px; margin: 10px;"></div>
			</div>
		</div>
	</div>	
</div>