<div class="L3Box" ng-style="{'background-color': color}">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div>{{label}}</div> <div><span>({{totalSelected}})</span> <span class="caret"></span></div>
    </button>
    
    <ul class="dropdown-menu dropdown-content" ng-class="{'active': totalSelected > 0}">
        <li ng-repeat="listItem in ABC">
            <a class="{{listItem[0].qState}}" ng-click="selectInFieldDD($event, listItem[0])">{{listItem[0].qText}}</a>
        </li>
    </ul>
</div>